<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">

        <h2>{{mensagem}}</h2>

        <form [formGroup]="formCadastro" (ngSubmit)="cadastrarUsuario()">

          <cmail-form-group label="Nome" id-campo="nome" [control]="nome">
            <input autofocus formControlName="nome" required type="text" name="nome" cmailFormField>
            <span class="mdl-textfield__error">Informar um nome é obrigatório!</span>
          </cmail-form-group>


          <cmail-form-group label="Username" id-campo="username" [control]="username">
            <input formControlName="username" required type="text" name="username" cmailFormField>
            
            <span *ngIf="username.getError('required')" class="mdl-textfield__error">
              Informar um username é obrigatório!
            </span>
            
            <span *ngIf="username.getError('minlength')" class="mdl-textfield__error">
              Username tem que ter no minimo 
              {{username.getError('minlength').requiredLength}} 
              caracteres
            </span>

          </cmail-form-group>

          <cmail-form-group label="Senha" id-campo="senha" [control]="senha">
            <input formControlName="senha" required type="password" name="senha" cmailFormField>
            <span class="mdl-textfield__error">Informar uma senha é obrigatório!</span>
          </cmail-form-group>

          <cmail-form-group label="Avatar" id-campo="avatar" [control]="avatar">
            <input formControlName="avatar" required type="text" name="avatar" cmailFormField>
              <div *ngIf="avatar.status === 'PENDING'" class="mdl-textfield__error mdl-textfield__checking">
                Checking...
              </div>
              <div *ngIf="avatar.status === 'VALID'" class="mdl-textfield__error mdl-textfield__valid">
                😺 URL válida!
              </div>
              <div *ngIf="avatar.getError('urlInvalida')" class="mdl-textfield__error">
                😢 Oh noes, url inválida! {{avatar.getError('status')}}
              </div>
          </cmail-form-group>

          <cmail-form-group label="Telefone" id-campo="telefone" [control]="telefone">
            <input formControlName="telefone" required type="text" name="telefone" cmailFormField>
            <span *ngIf="telefone.getError('required')" class="mdl-textfield__error">Informar um telefone é obrigatório!</span>
            <span *ngIf="telefone.getError('pattern')" class="mdl-textfield__error">
              O formato deve ser 99999999
            </span>
          </cmail-form-group>

          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Cadastrar
            </button>
          </div>

        </form>
      </div>
    </div>
  </main>
</div>